<div class='wrapper'><img
    class='flag'
    src='{{flags.svg}}'
    alt='{{name.official}}'
    width='30'
    height='20'
  />
  <h2>{{name.official}}</h2></div>
<ul>
  <li class='options'>Capital: <span class='indicators'>{{capital}}</span></li>
  <li class='options'>Population:
    <span class='indicators'>{{population}}</span></li>
  <li class='options'>Languages:
    <span class='indicators'>{{#each languages}}
        {{this}}{{#unless @last}}, {{/unless}}{{/each}}</span></li>
</ul>